body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
}

.container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  width: 50vw;
  scrollbar-width: none;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
}
